HOST_DB=
PORT_DB = 
USER_DB = 
PASSWORD_DB = 
NAME_DB = 

URL_DATABASE = 

OPENCAGE_API_KEY =

BASE_URL_API = 

JWT_SECRET = 

REGION=
ACCESSKEYID=
SECRETACCESSKEY=
SECRETCCESSKEY=
BUCKET=
ACL=

SPACES_REGION=
SPACES_ENDPOINT=
SPACES_BUCKET=
SPACES_ACCESS_KEY=
SPACES_SECRET_KEY=
